:root {
  scroll-behavior: smooth;

  // brand colors
  --c-brand: #4C9F6D;
  --c-brand-light: #76B378;

  --c-danger: #cc241d;
}

html {
  .badge {
    &.normal {
      color: var(--c-text-lighter);
      background-color: var(--c-bg-lighter);
    }
  }
}

html.dark {
  // brand colors
  --c-brand: #5580ff;
  --c-brand-light: #8cbce5;

  // background colors
  --c-bg: #1a1a1a;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;

  // text colors
  --c-text: #cccccc;
  --c-text-light: #a6b1ba;
  --c-text-lighter: #90a2b2;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #595959;
  --c-border-dark: #464e55;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #fb4934;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  .badge {
    &.normal {
      color: var(--c-text-lighter);
      background-color: var(--c-bg-lighter);
    }
  }
}

// plugin-docsearch
html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}
